@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 40px;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links{
  padding-left: 3rem;
}
.navbar .login {
  margin-left: auto;
  display: flex;
}
.login h2{
  margin: 0;
  margin-top: 5px;
  color: rgb(118, 118, 206);
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 95%;
  margin: 40px auto;
  padding: 20px;
}

/* Home page */
/* .home{
  display:block
} */
.home-info p{
  font-size: 20px;
  padding: 0.25rem 0rem;
}
.home-contacts{
position: absolute;
bottom: 25px;
}

/* survey previews / list */
.survey-list{
  display: flex;
  justify-content: space-between;
}

.info{
  display: flex;
  align-items: center;
}

.info h3{
  color: #ff004c;
  padding-left: 4.5rem;
  margin: 0
}

.questions-length{
  color: #ff004c;
  margin-left: 1.1rem;
  border: 1.5px solid #ff004c;
  border-radius: 5px;
  padding: 0.45rem 1rem;
}




.survey-preview {
  min-width: 20rem;
  min-height: 15rem;
  padding: 10px 16px;
  margin: 20px 15px;
  border-bottom: 1px solid #fafafa;
}

.survey-preview-link{
  min-height: 150px;
}

.survey-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.survey-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
  text-transform: uppercase;
}
.survey-preview a{
  text-decoration: none;
}
.survey-preview button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* survey details page */
/* '
' */





/* .edit-survey-page{
  text-align: center;
} */

.edit-survey-page-header button{
  margin-left: 20px;
}

.access-denied{
  text-align: center;
}




/* create new survey form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  font-size: 25px;
  text-align: center;
  display: block;
}
.create h1 {
  font-size: 40px;
  color: #ff004c;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  padding: 6px 10px;
  margin: 25px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  width: 400px;
  font-size: 25px;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 22px;
}







.table td{
  text-align: center;
}


/* logIn page */
.logIn-main{
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
        
.logIn-form-group{
  margin-bottom: 10px;
}
.logIn-form-group input{
  font-size: 15px;
  text-align: center;
}

.logIn-container Button{
  font-size: 15px;
  background-color: #f1356d;
  border: none;
}